$main-color: #212121;
$additional-color:#757575;
$accent-color : #2196F3;
$white-color: #FFFFFF;
$background-color: #2F303A;
$background-additionalcolor: #F5F4FA;
$address-color:rgba(255, 255, 255, 0.6);
$icon-color: #AFB1B8;
$background-social-color:rgba(255, 255, 255, 0.1);
$portfolio-text-color: rgba(117, 117, 117, 1);
$background-deals:rgba(47, 48, 58, 0.8);
$background-hoover:rgba(33, 150, 243, 0.9);
$background-backdrop:rgba(0, 0, 0, 0.2);
$border-button:rgba(0, 0, 0, 0.1);
$btn-user-hover: #188CE8;