

.advantage-list {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__title {
        color: $main-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        margin-bottom: 10px;
        @media screen and (max-width:767px) {
            text-align: center;
        } 
    }

    &__description {
        line-height: 1.71;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__box {
        
        max-width: 450px;
        height: 120px;
        border-radius: 4px;
        background: $background-additionalcolor;
    
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;


        @media screen and (min-width:768px) {
            width: 354px;
        }
        @media screen and (min-width:1200px) {
            width: 270px;
        }
    }

}
.advantage-list__item {
    
    @media screen and (max-width:767px) {
        max-width: 450px;
    }

   &:not(:last-child) {
    @media screen and (max-width:767px) {
        margin-bottom: 30px;
       } 
}

@media screen and (min-width:768px) {
    margin: 15px;
    width: calc((100% - 2*30px)/2);
   }

   @media screen and (min-width:1200px) {
    margin: 15px;
    width: calc((100% - 4*30px)/4);
   }
}


