.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
    margin-right: 93px;

}

.logo {
    color: $main-color;
}

.logo__accent {
    color: $accent-color;
}